{% extends "base.html" %}
{% block content %}
<div class="container">
	<h1 class="py-2">{{page_function}}</h1>
	<form class="py-2 productForm" method="post" action="/update-{{ product[0][0] }}">
		<div class="container">
			 <div class="row">
		    <div class="col">
		      <div class="mb-3">
    <label for="productTitle" class="form-label">Product Title</label>
    <input type="text" class="form-control" id="productTitle" name="productTitle" value={{ product[0][1] }}>
					</div>
  <div class="mb-3">
    <label for="productMedia" class="form-label">Media</label>
    <input type="file" class="form-control" id="productMedia" name="productMedia" value={{ product[0][4] }}>
  </div>
		    </div>
		    <div class="col">
		      <div class="mb-3">
    <label for="productQuantity" class="form-label">Product Quantity</label>
    <input type="number" class="form-control" id="productQuantity" name="productQuantity" value={{ product[0][2] }}>
					</div>
  <div class="mb-3">
    <label for="productSKU" class="form-label">SKU</label>
    <input type="text" class="form-control" id="productSKU" name="productSKU" value={{ product[0][3] }}>
  </div>
		    </div>
		  </div>
			<div class="row">
		    <div class="col">
		      <div class="mb-3">
    <label for="productDescription" class="form-label">Product description</label>
    <textarea rows="4" cols="50" class="form-control" id="productDescription" name="productDescription">{{ product[0][5] }}</textarea>
					</div>
		    </div>
		  </div>
		</div>
		<button type="Submit" class="btn btn-warning">Update</button>
	<a href ="/"><button type="button" class="btn btn-danger">Back</button>
	</a>
</form>
	
</div>
{% endblock %}